#menu-6 .navbar-toggler {
  color: #000;
}
#msg-box5-4 .mbr-section-title {
  text-align: center;
  font-size: 25px;
}
#testimonials1-b .mbr-section-title {
  color: #d8f1d5;
}
#content4-c P {
  text-align: center;
}
#contacts2-8 P {
  font-size: 15px;
}
#menu-q .navbar-toggler {
  color: #000;
}
#contacts2-r P {
  font-size: 15px;
}
#menu-m .navbar-toggler {
  color: #000;
}
#contacts2-n P {
  font-size: 15px;
}
